/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.cssbuttons-button-new {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 24px;
  padding: 0.7em 1.4em 0.7em 1.2em;
  color: white;
  background: #537dad;
  background: linear-gradient(to bottom, #3a3e79 0%,#3a5170 200%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #143ba798;
  letter-spacing: 0.05em;
  border-radius: 20em;
}

.cssbuttons-io-button svg {
  margin-right: 0px;
}

.cssbuttons-io-button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #1614a798;
}

.cssbuttons-io-button:active {
  box-shadow: 0 0.3em 1em -0.5em #1614a798;
}

.cssbuttons-button-criar {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  padding: 0.7em 1.4em 0.7em 1.2em;
  color: white;
  background: #537dad;
  background: linear-gradient(to bottom, #3a3e79 0%,#3a5170 200%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #143ba798;
  letter-spacing: 0.05em;
  border-radius: 20em;
}

.cssbuttons-io-button svg {
  margin-right: 0px;
}

.cssbuttons-io-button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #1614a798;
}

.cssbuttons-io-button:active {
  box-shadow: 0 0.3em 1em -0.5em #1614a798;
}

.cssbuttons-button-delete {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 12px;
  padding: 0.7em 1.4em 0.7em 1.2em;
  color: white;
  background: #ad7b53;
  background: linear-gradient(0deg, rgb(167, 20, 20) 0%, rgb(247, 107, 102) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #a7191498;
  letter-spacing: 0.05em;
  border-radius: 20em;
}

.cssbuttons-io-button svg {
  margin-right: 6px;
}

.cssbuttons-io-button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #a71e1498;
}

.cssbuttons-io-button:active {
  box-shadow: 0 0.3em 1em -0.5em #a71e1498;
}

.cssbuttons-button-voltar {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 350;
  font-size: 18px;
  padding: 0.7em 1.4em 0.7em 1.2em;
  color: white;
  background: #8598af;
  background: linear-gradient(to bottom, #3a3e79 0%,#3a5170 200%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #4f65a098;
  letter-spacing: 0.05em;
  border-radius: 20em;
}

.cssbuttons-io-button svg {
  margin-right: 0px;
}

.cssbuttons-io-button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #5957ac98;
}

.cssbuttons-io-button:active {
  box-shadow: 0 0.3em 1em -0.5em #4544a198;
}

.login {
  font-family: inherit;
  font-size: 18px;
  background: linear-gradient(to bottom, #49c5d8 0%,#62a4ff 100%);
  color: white;
  padding: 0.8em 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.login:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.signout {
  font-family: inherit;
  font-size: 18px;
  background: linear-gradient(to bottom, #3a3e79 0%,#3a5170 200%);
  color: white;
  padding: 0.8em 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 200px;
  box-shadow: 0px 5px 10px rgba(110, 109, 109, 0.2);
  transition: all 0.3s;
}

@media only screen and (max-width: 920px){
  .custom-1{
      width: 100%;
  }

  .custom-2{
    width: 100%;
    height: auto;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 545px){
  .custom-1{
      flex-direction: column;
      box-sizing: border-box;
      display: flex;
  }

  .custom-2{
      width: 25%;
      height: auto;
      box-sizing: border-box;
      align-items: center;
      font-weight: 200;
      font-size: 16px;
  }
}
