%nav.bg-gray-900.border-gray-200.fixed.w-full.z-20.top-0.left-0
  .max-w-screen-xl.flex.flex-wrap.items-center.justify-between.mx-auto.p-4
    %a.flex.items-center{:href => "#"}
      %span.material-icons-outlined.text-4xl.mr-3.text-white monetization_on
      %span.self-center.text-2xl.font-semibold.whitespace-nowrap.text-white Controle Financeiro
    .flex.items-center.md:order-2
      %button-user-menu-button.flex.text-sm
        = link_to 'Sair', destroy_user_session_path, method: :delete, class: "signout"